.button{
    @include font-16-semi;
    width: 11.75rem;
    height: 3.75rem;
    border: none;
    text-align: center;
    cursor: pointer;
    position: relative;

    &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        width: calc(11.75rem/8);
        height: 35%;
        border: 0.125rem solid;
        transition: all 0.6s;
    }

    &::after{
        bottom: 0.5rem;
        right: 0.5rem;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: $color-white;
        border-right-color: $color-white;
    }

    &::before{
        top: 0.5rem;
        left: 0.5rem;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: $color-white;
        border-left-color: $color-white;
    }

    &:hover:after, &:hover:before{
        width: calc(11.75rem - 1rem);
        height: calc(3.75rem - 1rem);
    }
}

.button-white{
  &::after{
        border-bottom-color: $color-black;
        border-right-color: $color-black;
    }

  &::before{
        border-top-color: $color-black;
        border-left-color: $color-black;
    }
}

.bg-red{
    background-color: $color-theme;
    color: $color-white;
}

.bg-dark{
    background-color: $color-black;
    color: $color-white;
}

.bg-light{
    background-color: $color-white;
    color: $color-black;
}

.btn-hover{
  width: 100%;
  height: 3.125rem;
  @include font-14;

  &:hover:after, &:hover:before{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
}