.banner-even{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    height: 25.188rem;
    .left{
        display: flex;
        position: relative;
        align-items: center;
        
        .text-button-left{
            position: absolute;
            justify-content: center;
            margin-left: 55%;
            h1{
                @include font-45-bold;
                color: $color-white;
                margin-bottom: 1rem;
            }
        }
    }
    .right{
        display: flex;
        position: relative;
        align-items: center;

        .text-button-right{
            position: absolute;
            margin-left: 7%;
            h1{
                @include font-45-bold;
                color: $color-black;
                margin-bottom: 1rem;
            }
        }
    }
}