.breadcrumb-container{
  max-width: 1110px;
  margin-top: 3rem;
  ._breadcrumb{
    @include font-16-medium;
  }
  .breadcrumb-not-active {
    color: #cccccc;
  }
  .breadcrumb-active {
    color: #000000;
  }
  
}

