.breadcrumb-container {
    .container{
        display: flex;
        margin-top: 1rem;
        @include font-16-medium;

        @include xxl-min{
            max-width: 1110px;
        }
        
        .active{
            color: $color-grey;
            &:last-child{
                color: $color-theme;
            }
        }
    }
}