.container-flashsale-right{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 3rem;
    .flashsale{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 41.5rem;
        height: 41.5rem;
        background-color: $color-grey;
        gap: 1rem;
        color: $color-white;
        h1{
            @include font-45-bold;
        }
    }
}