.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo navtext navicons";
    padding: 1rem 0;
    .logo{
        grid-area: logo;
    }
    .nav-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font-16-medium;
        grid-area: navtext;
        .text-link{
            color: $color-black;
            transition: all 0.2s;
            &:hover{
                color: $color-theme;
            }
        }
        .text-link ~ .text-link {
            margin-left: 1.875rem;
        }
        .active{
            color: $color-theme;
        }
    }
    .nav-icons{
        @include font-16-medium;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: navicons;
        .nav-icon{
            background-color: $color-white;
            color: $color-black;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 6px 4px $color-grey;
            position: relative;
            color: $color-black;
            transition: all 0.25s;
            &:hover{
                color: $color-white;
                box-shadow: 0 0 6px 4px $color-grey;
                background-color: $color-black;
            }
        }
        .nav-icon ~ .nav-icon {
            margin-left: 1.875rem;
        }
        .active{
            color: $color-white;
            background-color: $color-black;
        }
    }
}