.container-products-category-ranking{
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(21rem, max-content));
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
        max-width: 1110px;
        .latest, .best, .reacted{
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            .card-product{
                display: flex;
                align-items: center;
                width: 21.875rem;
                margin: 1rem 0;
                .img-container{
                    flex: 1;
                    background-color: $color-grey-light;
                    height: 8.25rem;
                    width: 10rem;
                    position: relative;
                    transition: background-color 250ms;
                    @include lg-min{
                        overflow: hidden;
                    }
                    .quick-view{
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                        top: 62%;
                        transition: top 250ms;
                        @include lg-min{
                            top: 100%;
                        }
                    }
                    .quick-menu{
                        display: flex;
                        position: absolute;
                        margin-top: 1rem;
                        right: 8%;
                        transition: right 250ms;
                        @include lg-min{
                            right: 110%;
                        }
                        .nav-icon{
                            background-color: $color-white;
                            color: $color-black;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 0 6px 4px $color-grey;
                            position: relative;
                            color: $color-black;
                            transition: all 0.25s;
                            border: none;
                            &:hover{
                                color: $color-white;
                                box-shadow: 0 0 6px 4px $color-grey;
                                background-color: $color-black;
                            }
                        }
                        .nav-icon ~ .nav-icon {
                            margin-left: 1rem;
                        }
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    &:hover{
                        background-color: $color-black-hover;
                        .quick-view{
                            top: 62%;
                        }
                        .quick-menu{
                            right: 8%;
                        }
                    }
                }
                .text{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 0.5rem;
                    height: 8.25rem;
                    h5{
                        color: $color-grey-dark;
                        @include font-13-medium;
                        margin: unset;
                        letter-spacing: 0.1rem;
                    }
                    h6{
                        @include font-16-semi;
                        letter-spacing: 0.1rem;
                        margin: unset;
                    }
                    p{
                        @include font-18-semi;
                    }
                    i{
                        color: $color-theme;
                    }
                    .bothPrices{
                        display: flex;
                        align-items: center;
                        .firstPrice {
                            color: $color-grey-dark;
                            text-decoration: line-through;
                            @include font-16;
                            margin: unset;
                            margin-right: 0.5rem;
                        }
                        .offPrice {
                            color: $color-black;
                            text-decoration: none;
                            @include font-18-semi;
                        }
                    }
                }
            }
        }
        h1{
            @include font-20-bold;
        }
    }
    
}
._border-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    ._border{
        border-bottom: 2px $color-grey solid;
        width: 1110px;
    }
}