.showcase{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
    align-content: center;
    margin: 3rem auto;
    .sale{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        h1{
            @include font-65-bold;
            margin: 0;
            padding: 0;
            line-height: 5rem;
            letter-spacing: 0.25rem;
        }

        p{
            @include font-20;
            padding: 0;
            margin: 2rem 0;
        }
    }
}