.shoppingcart {
    width: 100% !important;

    .offcanvas-body {
        .checkout {
            .total {
                @include font-16-medium;
                span{
                    @include font-18-bold;

                }
            }
        }
        .emptyAll{
            margin: 10px 10px 10px 0;
            color: $color-theme;
            border: none;
            background-color: white;
            font-size: xx-large;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background: rgb(254, 254, 254);
            background: linear-gradient(180deg, rgba(254, 254, 254, 1) 0%, rgba(245, 245, 245, 1) 100%);
        }
    }

    

    @include xl-min {
        width: 500px !important;
    }
}